
.p-title-about{
  font-weight: bold;
  color: #79B4B7 ;
  font-family: sans-serif;
  text-shadow: 2px 2px #5a5757;
  font-size: 45px;
  cursor: pointer;
  // background-color: #9D9D9D ;
  text-decoration: underline;
  transition: 1s;
}
.p-title-about:hover{

  text-shadow: 2px 2px #5a5757;
  // color: #F8F0DF;
}
.about-me{
  max-width: 100%;
  margin: 0 auto;
  padding: 10px 25px;
  background-color: #F8F0DF;
  .about-me-name{
    color: #79B4B7 !important;
    font-weight: bold;
    text-shadow: 2px 2px #5a5757;
  }
  .section-sub-title{
    color: #79B4B7 !important;
    text-shadow: 1px 1px #5a5757;
    text-decoration: underline;
  }
  .about-me-body{
    color: #9D9D9D;
    text-shadow: #302e2e;
  }
  .about-link{
    color: #79B4B7;
    transition: 1s;
    text-shadow: #5a5757;
  }
   .about-link:hover{
    color: black;
    text-decoration: none;
    text-shadow: 1px 1px #5a5757;
  }
}
