<div class="about">
  <div class="row">
    <div class="col-12">
      <div class="main-container" id="info">
        <%= image_tag "pp.png", alt: "alttext", style: 'width:100%' %>
        <h2>Hello 👋</h2>
        <p>My name is Karen, a web developer based in Tokyo, Japan.</p>
        <div class="dl-cv d-flex flex-column justify-content-center align-items-center">
          <i class="fas fa-download"></i>
          <span>Download CV</span>
          <%= link_to "", "#", class: 'navigation-button-link' %>
        </div>
      </div>
    </div>
  </div>
