<section class="text-dark w-80 my-3 contact-form contact" >
  <h3 class="text-center pt-5 contact-title text-primary">Contact/Message Karen directly</h3>
  <div class="container">
    <form action="https://getform.io/f/94e06bab-42d8-451e-9f61-fc2b03b8f583" method="POST" id= "contact">
      <div class="form-group">
        <input type="text" name="name" class="form-control" placeholder="Name" required=true>
      </div>
      <div class="form-group">
        <input type="email" name="email" class="form-control" placeholder="Email" required=true>
      </div>
      <div class="form-group">
        <textarea type="text" name="message" class="form-control" placeholder="Message..." required=true></textarea>
      </div>
      <button type="submit" class="btn btn-primary w-100">Send</button>
    </form>
  </div>
</section>
