<div class="container">
  <section class="home" id= "home">
    <h3>hi there...</h3>
    <h3 class="name">my name is <span>karen joy fujibayashi</span></h3>
    <h3 class="post">i am a <span class= "typing-text">web developer</span></h3>
    <%= link_to "download CV", "#", class: 'button-csv' %>
    <div class="share">
      <i class="fab fa-linkedin-in" id="social"></i>
      <i class="fab fa-github" id="social"></i>
      <i class="fab fa-instagram" id="social"></i>
    </div>
  </section>
</div>
