<section class="bg-dark text-align p-5 text-light">
  <div class="container ms-auto">
    <div class= "d-sm-flex">
      <div>
        <h2>Hello 👋</h2>
        <p>My name is Karen, a <span class="text-warning">web developer</span> based in Tokyo, Japan.</p>
        <div class="dl-cv justify-content-center align-items-center">
          <i class="fas fa-download"></i>
          <span>Download CV</span>
          <%= link_to "", "#", class: 'navigation-button-link' %>
        </div>
      </div>
      <%# <%= image_tag "pp.png", alt= "alttext", style: 'width:100%' %>
      <%= image_tag "pp.png", alt: "alttext", style: 'width:100%', class: "img" %>
    </div>
  </div>
</section>
