<section class="bg-dark text-align p-5 text-light">
  <div class="container ms-auto">
    <div class= "d-sm-flex">
      <div>
        <h1>karen joy fujibayashi</h1>
        <p>Web developer</p>
      </div>
      <%# <%= image_tag "pp.png", alt= "alttext", style: 'width:100%' %>
      <%= image_tag "pp.png", alt: "alttext", style: 'width:80px%', class: "img" %>
    </div>
  </div>
</section>
