 
<section class="section1">
  <div id="particles-js"></div>
  <div class="flex-container sec1">
    <div class="wrapper-text">
      <div class="flex-text-eng">
        <p>不動産に関わる<br>
          全ての人々に、<br>
          「快適で安心な環境」を<br>
          提供する。</p>
      </div>
      <div class="flex-text-ja">
        <div class="text-big">
          <p>不動産から考える、<br>
            人が繋ぐ快適なまちづくり。</p>
        </div>
        <div class="text-small">
          <p>人々が安心して暮らせる、<br>
            豊かで快適な住環境のために。<br>
            COSOJIは、地域の課題解決に向き合い、<br>
            地域の活性化を見据え、地域不動産の価値を向上をし、<br>
            全国の地方創生のために地域の人と人をを繋げ、<br>
            仕事の地産地消を創造します。</p>
        </div>
      </div>
    </div>
  </div>
</section>
