.footer{
   background-color: #79B4B7;
  a{
    margin-right: 20px;
    font-size: 25px;
    color: #fff;
    transition: 1s;
  }
  a:hover{
    color: rgb(187, 179, 179);
    opacity: 0.2;
  }
  //not finish
}
