#banner{
// text-align: end;
}
#nav{
  padding: 0 16px;
  display: inline-block;
  font-size: 10px;
  &:hover {
    opacity: 0.7;
  }
}

// .navigation-button-link {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
// }
