<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col">
      <h1>Middleman Boilerplate</h1>
      <p>Bootstrap and Font Awesome already installed.</p>
      <%= partial 'partials/projects' %>
      <%= partial 'partials/contact' %>
      <%= partial 'partials/about' %>
    </div>
  </div>
</div>
